header li {
    position: relative;
}

header li:hover .sub-menu {
    display: flex;
}

header li:hover .sub-menu {
    display: flex;
}

header ul {
    display: flex;
    padding-left: 25%;
    list-style: none;
}

.centre-side-section-first ul {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}

.t123 {
    display: block;
    font-family: "Roboto Light", monospace;
    font-size: 16px;

}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    font-family: "Roboto Light", monospace;
    font-size: 16px;
    background-color: #f5f5f5;
}

