<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Anthony Kozinau">
    <!-- Title Page-->
    <title th:text="${xUser.name}"></title>

    <!-- Font-faces CSS-->
    <link href="../static/font-face.css" th:href="font-face.css" rel="stylesheet" media="all">

    <link href="../static/font-awesome.min.css" th:href="font-awesome.min.css" rel="stylesheet" media="all">

    <link href="../static/fontawesome-all.min.css" th:href="fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../static/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../static/bootstrap.min.css" th:href="bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../static/theme.css" rel="stylesheet" media="all" th:href="theme.css">

    <link rel="stylesheet" href="../static/main1.css">
    <link rel="stylesheet" th:href="main1.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="transaction.css">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">
        <div class="logo">
            <a href="#">
                <img src="../static/logo-white.png" th:src="logo-white.png" alt="Cool Admin"/>
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">
                <div class="image img-cir img-120">
                    <img src="../static/avatar-big-01.jpg" th:src="avatar-big-01.jpg" alt="John Doe"/>
                </div>
                <h4 class="name" th:text="${xUser.name}"></h4>
                <a th:href="@{/logout}">Sign out</a>
            </div>
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/main}">
                            <i></i>HOME</a>
                    </li>
                    <li>
                        <a>
                            <i></i>+ ADD Real Estate</a>
                    </li>
                    <li>
                        <a th:href="@{/cryptoservices}">
                            <i></i>+ ADD Crypto Services</a>
                    </li>
                    <li class="has-sub">
                        <a>
                            <i></i>+ ADD Stock Market</a>
                    </li>
                    <li class="has-sub">
                        <a th:href="@{/ico}">
                            <i></i>IPO | ICO</a>
                    </li>
                    <li class="has-sub">
                        <a>
                            <i></i>Anything</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR -->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <!-- SEARCH FORM -->

                        <!-- END SEARCH FORM -->
                        <!-- MENU FORM -->

                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <!-- BANNER SERVICES -->

                    <!-- END BANNER SERVICES -->
                    <!-- END STATISTIC-->
                    <div class="section__content section__content--p30">
                        <!-- FIRST TABLE -->
                        <div class="row">
                            <div class="col-lg-7">
                                <h2 class="title-1 m-b-25">Crypto services Page</h2>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                        <tr>
                                            <th th:each="list32: ${list}" class="column-title"
                                                th:text="${list32}"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr onclick="show('block')" class="headings3" th:each="column: ${columns}"
                                            id="table">
                                            <td th:each="list: ${list}" th:text="${column.get(list)}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END FIRST TABLE   -->
                            <!-- Main Exchanges -->

                            <div class="col-lg-5">
                                <h2 class="title-1 m-b-25">&nbsp;</h2>
                                <div class="au-card-inner">
                                    <form th:method="POST" th:action="@{/do-login}">
                                        <div class="row123">
                                            <div class="col-50">
                                                <h3>Billing Address</h3>
                                                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                                <input type="text" id="fname" name="firstname"
                                                       placeholder="John M. Doe">
                                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                                <input type="text" id="email" name="email"
                                                       placeholder="john@example.com">
                                                <label for="adr"><i class="fa fa-address-card-o"></i> Recipient Address</label>
                                                <input type="text" id="adr" name="address"
                                                       placeholder="0x ...">
                                                <label for="network"><i class="fa fa-institution"></i> Network</label>
                                                <input type="text" id="network" name="city" placeholder="Ethereum">

                                                <div class="row1">
                                                    <div class="col-50">
                                                        <label for="state">How much</label>
                                                        <input type="text" id="state" name="state"
                                                               placeholder="1.25 ETH">
                                                    </div>
                                                    <div class="col-50">
                                                        <label for="zip">Commission</label>
                                                        <input type="text" id="zip" name="zip" placeholder="0.004%">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-50">
                                                <h3>Payment</h3>
                                                <label for="fname">Accepted Exchanges</label>
                                                <div class="icon-container">
                                                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                                                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                                                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                                                </div>
                                                <label for="cname">Exchange name</label>
                                                <input type="text" id="cname" name="cardname"
                                                       placeholder="Binance">
                                                <label for="ccnum">Exchange email</label>
                                                <input type="text" id="ccnum" name="cardnumber"
                                                       placeholder="john@example.com">
                                                <label for="expmonth">Exp Month</label>
                                                <input type="text" id="expmonth" name="expmonth"
                                                       placeholder="September">
                                                <div class="row1">
                                                    <div class="col-50">
                                                        <label for="expyear">Exp Year</label>
                                                        <input type="text" id="expyear" name="expyear"
                                                               placeholder="2018">
                                                    </div>
                                                    <div class="col-50">
                                                        <label for="cvv">CVV</label>
                                                        <input type="text" id="cvv" name="cvv" placeholder="352">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="suka">
                                            <input type="submit" value="Continue to checkout" class="btn">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Main Exchanges -->
                    <!-- SECOND TABLE -->

                    <!-- END SECOND TABLE   -->
                    <!-- Main Exchanges -->

                </div>
                <!-- End Main Exchanges -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2022 LIMPET. All rights reserved. GitHud project <a
                                    href="https://github.com/Freeman-com/Limpet1.git">Link</a>.</p>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTAINER-->
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>